<h1>All Events</h1>
<h3>Past Events:</h3>
<ul>
    <% Event.past.each do |event| %>
        <li><%= link_to event.name, event %></li>
    <% end %>
</ul>

<h3>Upcoming Events:</h3>
<ul>
    <% Event.upcoming.each do |event| %>
        <li><%= link_to event.name, event %></li>
    <% end %>
</ul>

<% if user_signed_in? %>
    <%= link_to "New Event", new_event_path %>
<% end %>